[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/contract-deployment-infra"]
	path = lib/contract-deployment-infra
	url = https://github.com/thirdweb-dev/contract-deployment-infra
[submodule "lib/modular-contracts"]
	path = lib/modular-contracts
	url = https://github.com/thirdweb-dev/modular-contracts
